@import '@/variables';

.logs-box {
  text-align: left;
  background-color: $background;
  padding: 0.6rem;
  font-family: monospace;
  border-radius: 10px;
  border-style: solid;
  border-color: $component-border-color;
  border-width: 0.5px;
  max-height: 150px;
  overflow-y: scroll;
  color: $navbar-text-color;
  white-space: pre-wrap;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 1s;

  @media (max-width: $sm) {
    font-size: 1rem;
  }

  &--expanded {
    @extend .logs-box;
    max-height: unset;
  }
}
