@import '@/variables';

.settings {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  max-height: 100vh;

  &__content {
    flex-grow: 1;
    padding: 20px;
    max-width: 100vw;

    &__heading {
      font-size: 32px;
      margin: 0;
    }
  }
}
