$primary: #d9d9d9;
$primary-accent: #dbfff1;
$secondary: #cecece;
$tertiary: #ffffff2a;
$quaternary: #ffffff44;
$red: #f91515;
$red-light: #fb272755;
$accent-light: #ff6161;
$md: 768px;
$lg: 992px;
$xl: 1200px;
