$primary: #d9d9d9;
$primary-accent: #dbfff1;
$secondary: #0c1926;
$tertiary: #ffffff2a;
$quaternary: #fff4;
$red-light: #fb272755;
$accent-light: #ff6161;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$navbar-backgroud-color: #122131;
$navbar-text-color: #fff;
$green: #5cd060;

$font-color: #D0C1C1;

$background: #07111b;
$component-background: #0c1926;
$component-secondary-background: #122131;
$component-border-color: #484a49;

$red: #E01300;
$cancel-color: #EC584B;
$medium-urgency-background: #d18f00;
$white: #fff;
$low-urgency-background: #028e07;
