@import '@/variables';

.report-details {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
  /* margin: 1rem; */

  &__subsection {
    &__title {
      font-size: 20px;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 1rem;
      margin-left: 10px;
    }
  }
}
