@import '@/variables';

.accuracy-badge {
  padding: 0 20px;
  border-radius: 5px;
  font-weight: 500;
  color: $white;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  width: 50px;

  &--low {
    background-color: $red;
  }

  &--medium {
    background-color: $medium-urgency-background;
  }

  &--high {
    background-color: $low-urgency-background;
  }
}
