@import '@/variables';

.stat {
  background-color: $component-secondary-background;
  padding: 15px 15px 15px 20px;
  border-radius: 8px;
  text-align: left;
  color: $font-color;
  /* height: 75px; */
  border: 1px solid $component-border-color;
  flex-grow: 1;

  &__title {
    font-size: 15px;
    font-weight: bold;
    color: $font-color;
    word-break: break-all;
  }

  &__value {
    display: flex;
    align-items: baseline;
    word-break: break-all;
  }

  &__number {
    font-size: 36px;
    font-weight: bold;
  }

  &__unit {
    font-size: 14px;
    margin-left: 5px;
  }

  @media (max-width: $sm) {
    padding: 8px 8px 8px 12px;

    &__title {
      font-size: 12px;
    }
  }
}
