@import '@/variables';

.scan-stats {
  display: flex;
  flex-direction: column;

  &__heading {
    font-size: 24px;
    font-weight: bold;
    margin: 12px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    width: 60%;
    justify-content: space-between;
  }

  &__chart {
    flex-grow: 1;
    margin: 20px;
    background-color: #2a2a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $navbar-text-color;
    min-width: 250px;
  }
}
