@import '@/variables.scss';

.date-range {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /* background-color: black; */

  &__popover {
    border-style: solid;
    border-width: 1px;
    border-color: $component-border-color;
    /* border-radius: 1rem; */
  }
}
