@import '@/variables.scss';

.incident {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  column-gap: 1rem;
  overflow-y: hidden !important;

  &__row--two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    row-gap: 1rem;
    column-gap: 1rem;

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
    }
  }

  &__row--single-column {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: row;
    row-gap: 1rem;
    column-gap: 1rem;
  }
}
