@import '/src/variables.scss';

.svg-icon {
  width: 35px;
  height: 35px;
  background-color: $green;
}

.dashboard-icon {
  @extend .svg-icon;
  mask: url('/src/assets/dashboard_icon.svg') no-repeat center;

  .svg-icon {
    background-color: $navbar-text-color;
  }
}

.reports-icon {
  @extend .svg-icon;
  mask: url('/src/assets/reports_icon.svg') no-repeat center;

  .svg-icon {
    background-color: $navbar-text-color;
  }
}

.sign-out-icon {
  @extend .svg-icon;
  mask: url('/src/assets/sign_out_icon.svg') no-repeat center;

  .svg-icon {
    background-color: $navbar-text-color;
  }
}

.clusters-icon {
  @extend .svg-icon;
  mask: url('/src/assets/clusters-icon.svg') no-repeat center;
}

.cycle-icon {
  @extend .svg-icon;
  mask: url('/src/assets/cycle-icon.svg') no-repeat center;
}

.hive-icon {
  @extend .svg-icon;
  mask: url('/src/assets/hive-icon.svg') no-repeat center;
}

.clusters-icon--white {
  @extend .svg-icon;
  mask: url('/src/assets/clusters-icon.svg') no-repeat center;

  .svg-icon {
    background-color: $navbar-text-color;
  }
}

.application-incident-metadata-icon {
  @extend .svg-icon;
  mask: url('/src/assets/application-incident-metadata-icon.svg') no-repeat center;
}

.node-incident-metadata-icon {
  @extend .svg-icon;
  mask: url('/src/assets/node-incident-metadata-icon.svg') no-repeat center;
}

.incident-source-icon {
  @extend .svg-icon;
  mask: url('/src/assets/incident-source-icon.svg') no-repeat center;
}

.incident-configuration-icon {
  @extend .svg-icon;
  mask: url('/src/assets/incident-configuration-icon.svg') no-repeat center;
}

.incident-summary-icon {
  @extend .svg-icon;
  mask: url('/src/assets/incident-summary-icon.svg') no-repeat center;
}

.incident-icon {
  @extend .svg-icon;
  mask: url('/src/assets/incident-icon.svg') no-repeat center;
}

.incident-recommendation-icon {
  @extend .svg-icon;
  mask: url('/src/assets/incident-recommendation-icon.svg') no-repeat center;
}

.setting-icon {
  @extend .svg-icon;
  mask: url('/src/assets/settings-icon.svg') no-repeat center;

  .svg-icon {
    background-color: $navbar-text-color;
  }
}

.chart-icon {
  @extend .svg-icon;
  mask: url('/src/assets/chart-icon.svg') no-repeat center;
}

.drop-down-icon {
  @extend .svg-icon;
  mask: url('/src/assets/drop-down-icon.svg') no-repeat center;
  width: 25px;
  height: 25px;

  .svg-icon {
    width: 25px;
    height: 25px;
  }
}

.reverse-drop-down-icon {
  @extend .svg-icon;
  transform: rotate(180deg);
  mask: url('/src/assets/drop-down-icon.svg') no-repeat center;
  width: 25px;
  height: 25px;

  .svg-icon {
    width: 25px;
    height: 25px;
  }
}

.report-stats-icon {
  @extend .svg-icon;
  mask: url('/src/assets/report-stats-icon.svg') no-repeat center;
}

.reports-list-icon {
  @extend .svg-icon;
  mask: url('/src/assets/reports_list_icon.svg') no-repeat center;
}

.report-details-icon {
  @extend .svg-icon;
  mask: url('/src/assets/reports_list_icon.svg') no-repeat center;
}

.plus-icon {
  @extend .svg-icon;
  mask: url('/src/assets/plus-icon.svg') no-repeat center;

  .svg-icon {
    transition: fill 0.3s ease;
    background-color: $component-border-color;

    &:hover {
      background-color: $green;
    }
  }
}

.open-icon {
  @extend .svg-icon;
  mask: url('/src/assets/open-icon.svg') no-repeat center;

  .svg-icon {
    transition: fill 0.3s ease;
    background-color: $component-border-color;

    &:hover {
      background-color: $green;
    }
  }
}

.notification-icon {
  @extend .svg-icon;
  background-color: $green;
  mask: url('/src/assets/notification-icon.svg') no-repeat center;
  mask-size: 25px 25px;

  &--white {
    @extend .notification-icon;

    .svg-icon {
      background-color: white;
    }
  }
}

.big-notification-icon {
  @extend .svg-icon;
  background-color: $green;
  mask: url('/src/assets/notification-icon.svg') no-repeat center;
  mask-size: 35px 35px;

  &--white {
    @extend .notification-icon;

    .svg-icon {
      background-color: white;
    }
  }
}

.task_done_icon {
  @extend .svg-icon;
  background-color: $green;
  mask: url('/src/assets/task_done_icon.svg') no-repeat center;
}

.sand-clock-top {
  @extend .svg-icon;
  background-color: $green;
  mask: url('/src/assets/hourglass-top.svg') no-repeat center;
  width: 30px;
  height: 30px;

  .svg-icon {
    width: 30px;
    height: 30px;
  }
}

.sand-clock-middle {
  @extend .svg-icon;
  background-color: $green;
  mask: url('/src/assets/hourglass-split.svg') no-repeat center;
  width: 30px;
  height: 30px;

  .svg-icon {
    width: 30px;
    height: 30px;
  }
}

.sand-clock-bottom {
  @extend .svg-icon;
  background-color: $green;
  mask: url('/src/assets/hourglass-bottom.svg') no-repeat center;
  width: 30px;
  height: 30px;

  .svg-icon {
    width: 30px;
    height: 30px;
  }
}

.eye-icon {
  @extend .svg-icon;
  mask: url('/src/assets/eye-icon.svg') no-repeat center;

  .svg-icon {
    background-color: $white;
  }
}

.closed-eye-icon {
  @extend .svg-icon;
  mask: url('/src/assets/closed-eye-icon.svg') no-repeat center;

  .svg-icon {
    background-color: $white;
  }
}

.fire-icon {
  @extend .svg-icon;
  mask: url('/src/assets/fire-icon.svg') no-repeat center;
  width: 25px;
  height: 25px;
  margin-right: 3px;

  .svg-icon {
    background-color: $red;
    width: 25px;
    height: 25px;
  }
}

.delete-icon {
  @extend .svg-icon;
  mask: url('/src/assets/delete-icon.svg') no-repeat center;
  width: 35px;
  height: 35px;
  cursor: pointer;

  .svg-icon {
    background-color: $application-down-color;
    width: 35px;
    height: 35px;
    transition: 0.2s ease;

    &:hover {
      background-color: $red;
    }
  }
}

.edit-icon {
  @extend .svg-icon;
  mask: url('/src/assets/edit-icon.svg') no-repeat center;
  width: 35px;
  height: 35px;
  cursor: pointer;

  .svg-icon {
    background-color: $application-down-color;
    width: 35px;
    height: 35px;
    transition: 0.2s ease;

    &:hover {
      background-color: $green;
    }
  }
}

.send-notification-icon {
  @extend .svg-icon;
  mask: url('/src/assets/send-notification-icon.svg') no-repeat center;
  width: 35px;
  height: 35px;
  cursor: pointer;

  .svg-icon {
    background-color: $application-down-color;
    width: 35px;
    height: 35px;
    transition: 0.2s ease;

    &:hover {
      background-color: $medium-urgency-background;
    }
  }
}

.incident-category-icon {
  @extend .svg-icon;
  mask: url('/src/assets/fire-icon.svg') no-repeat center;
  width: 25px;
  height: 25px;
  margin-right: 3px;

  .svg-icon {
    width: 25px;
    height: 25px;
  }

  &--high-urgency {
    @extend .incident-category-icon;

    .svg-icon {
      background-color: $red;
    }
  }

  &--medium-urgency {
    @extend .incident-category-icon;

    .svg-icon {
      background-color: $medium-urgency-background;
    }
  }

  &--low-urgency {
    @extend .incident-category-icon;

    .svg-icon {
      background-color: $green;
    }
  }
}

.application-icon {
  @extend .svg-icon;
  mask: url('/src/assets/application-icon.svg') no-repeat center;
}

.date-range-icon {
  @extend .svg-icon;
  mask: url('/src/assets/date-range-icon.svg') no-repeat center;
}

.precision-icon {
  @extend .svg-icon;
  mask: url('/src/assets/precision-icon.svg') no-repeat center;
}
