@import '/src/variables.scss';

.svg-icon {
  width: 35px;
  height: 35px;
}

.dashboard-icon {
  @extend .svg-icon;
  mask: url('/src/assets/dashboard_icon.svg') no-repeat center;

  .svg-icon {
    background-color: $navbar-text-color;
  }
}

.reports-icon {
  @extend .svg-icon;
  mask: url('/src/assets/reports_icon.svg') no-repeat center;

  .svg-icon {
    background-color: $navbar-text-color;
  }
}

.sign-out-icon {
  @extend .svg-icon;
  mask: url('/src/assets/sign_out_icon.svg') no-repeat center;

  .svg-icon {
    background-color: $navbar-text-color;
  }
}

.clusters-icon {
  @extend .svg-icon;
  mask: url('/src/assets/clusters-icon.svg') no-repeat center;

  .svg-icon {
    background-color: $green;
  }
}

.clusters-icon--white {
  @extend .svg-icon;
  mask: url('/src/assets/clusters-icon.svg') no-repeat center;

  .svg-icon {
    background-color: $navbar-text-color;
  }
}

.application-incident-metadata-icon {
  @extend .svg-icon;
  mask: url('/src/assets/application-incident-metadata-icon.svg') no-repeat center;

  .svg-icon {
    background-color: $green;
  }
}

.incident-source-icon {
  @extend .svg-icon;
  mask: url('/src/assets/incident-source-icon.svg') no-repeat center;

  .svg-icon {
    background-color: $green;
  }
}

.incident-summary-icon {
  @extend .svg-icon;
  mask: url('/src/assets/incident-summary-icon.svg') no-repeat center;

  .svg-icon {
    background-color: $green;
  }
}

.incident-icon {
  @extend .svg-icon;
  mask: url('/src/assets/incident-icon.svg') no-repeat center;

  .svg-icon {
    background-color: $green;
  }
}

.incident-recommendation-icon {
  @extend .svg-icon;
  mask: url('/src/assets/incident-recommendation-icon.svg') no-repeat center;

  .svg-icon {
    background-color: $green;
  }
}

.setting-icon {
  @extend .svg-icon;
  mask: url('/src/assets/settings-icon.svg') no-repeat center;

  .svg-icon {
    background-color: $navbar-text-color;
  }
}

.chart-icon {
  @extend .svg-icon;
  mask: url('/src/assets/chart-icon.svg') no-repeat center;

  .svg-icon {
    background-color: $green;
  }
}

.drop-down-icon {
  @extend .svg-icon;
  mask: url('/src/assets/drop-down-icon.svg') no-repeat center;
}

.reverse-drop-down-icon {
  @extend .svg-icon;
  transform: rotate(180deg);
  mask: url('/src/assets/drop-down-icon.svg') no-repeat center;
}

.reports-list-icon {
  @extend .svg-icon;
  mask: url('/src/assets/reports_list_icon.svg') no-repeat center;

  .svg-icon {
    background-color: $green;
  }
}

.plus-icon {
  @extend .svg-icon;
  background-color: $component-border-color;
  mask: url('/src/assets/plus-icon.svg') no-repeat center;

  .svg-icon {
    transition: fill 0.3s ease;

    &:hover {
      background-color: $green;
    }
  }
}

.notification-icon {
  @extend .svg-icon;
  background-color: $green;
  mask: url('/src/assets/notification-icon.svg') no-repeat center;
}

.eye-icon {
  @extend .svg-icon;
  mask: url('/src/assets/eye-icon.svg') no-repeat center;
}

.closed-eye-icon {
  @extend .svg-icon;
  mask: url('/src/assets/closed-eye-icon.svg') no-repeat center;
}

.fire-icon {
  @extend .svg-icon;
  mask: url('/src/assets/fire-icon.svg') no-repeat center;
  width: 25px;
  height: 25px;
  margin-right: 3px;

  .svg-icon {
    background-color: $red;
    width: 25px;
    height: 25px;
  }
}

.application-icon {
  @extend .svg-icon;
  mask: url('/src/assets/application-icon.svg') no-repeat center;

  .svg-icon {
    background-color: $green;
  }
}

.date-range-icon {
  @extend .svg-icon;
  mask: url('/src/assets/date-range-icon.svg') no-repeat center;

  .svg-icon {
    background-color: $green;
  }
}

.precision-icon {
  @extend .svg-icon;
  mask: url('/src/assets/precision-icon.svg') no-repeat center;

  .svg-icon {
    background-color: $green;
  }
}
