@import '@/variables';

.dashboard {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;

  &__incidents {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__subsection {
    &__title {
      font-size: 20px;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 1rem;
      margin-left: 10px;
    }
  }
}
