.page-template {
  width: 100%;
  padding: 1rem;

  @media (min-width: 1921px) {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__content {
    width: 100%;

    &__header {
      display: flex;
      height: 100%;
    }

    &__body {
      width: 100%;
    }
  }
}
