@import '@/variables';

.page-template {
  overflow-y: auto;
  flex-grow: 1;
  width: 100%;
  padding: 1rem;

  &__content {
    width: 100%;
    flex-grow: 1;

    @media (min-width: 1600px) {
      display: flex;
      flex-direction: column;
      width: 1380px;
      margin: 0 auto;
    }
  }

  &__header {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  &__body {
    width: 100%;
  }

  @media (max-width: $sm) {
    padding: 0;

    &__content {
      width: 95%;
      margin: auto;
      padding-bottom: 1rem;
    }
  }
}
