@import '@/variables';

.reports {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;

  &__title-with-icon {
    display: flex;
    align-items: center;

    &__spinner {
      margin-right: 7px;
      display: flex;
    }
  }

  &__title--inactive {
    margin-left: 7px;
    color: $application-down-color;
  }

  &__action-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;

    &--inactive {
      cursor: not-allowed;
      pointer-events: none;

      .svg-icon {
        background-color: $component-border-color;
      }
    }
  }
}
