@import '@/variables';

.reports {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;

  &__title-with-icon {
    display: flex;
    align-items: center;

    &__hourglass {
      display: flex;
    }
  }

  &__title--inactive {
    margin-left: 10px;
    color: $application-down-color;
  }
}
