@import '@/variables';

.state-badge {
  padding: 0 5px;
  border-radius: 5px;
  font-weight: 500;
  color: $white;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  width: 50px;
  margin: 0 7px;

  &--down {
    background-color: $application-down-color;
  }

  &--up {
    background-color: $low-urgency-background;
  }
}
