.schedule-period {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__next-report {
    margin: 0;
    font-size: 14px;
    //TODO: how to keep that in one line
  }
}
