@import '@/variables';

.tag-button {
  /* position: relative; */
  /* width: 100%; */
  max-width: 8rem;

  /* transform: translate(0, 0); */
  /* z-index: 9999; */

  &__toggle {
    cursor: pointer;
    border: 1px solid $green;
    background-color: $component-background;
    color: $green;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 0.4rem;
    width: 100%;
    font-size: 0.9rem;
    outline: none;
    transition:
      background-color 0.2s,
      color 0.2s;

    .svg-icon {
      background-color: $green;
      transition: background-color 0.2s;
    }

    &__description {
      flex: 1;
      text-align: left;
    }

    &:hover,
    &:focus {
      color: $secondary;
      background-color: $green;

      .svg-icon {
        background-color: $secondary;
      }
    }
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid $green;

    z-index: 10;
    background-color: $component-background;
    color: $green;

    /* height: 20px; */
    /* width: 100%; */
    border-radius: 4px;
    transition: opacity 0.2s ease;
    opacity: 0;
    animation: fadeIn 0.15s forwards;

    &__element {
      /* position: absolute; */
      padding: 0.4rem 0.8rem;
      font-size: 0.85rem;
      height: 20px;
      cursor: pointer;
      transform: translate(0, 0);
      border-bottom: 1px solid $green;

      &:last-child {
        border-bottom: none;
      }

      &:hover,
      &:focus {
        color: $secondary;
        background-color: $green;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
