@import '@/variables';

.tag-button {
  position: relative;
  width: 8rem;

  &__toggle {
    cursor: pointer;
    border: 1px solid $green;
    background-color: $component-background;
    color: $green;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 0.6rem;
    width: 100%;
    outline: none;
    transition: background-color 0.3s, color 0.3s;

    .svg-icon {
      background-color: $green;
    }

    &__description {
      width: 6rem;
      text-align: left;
    }

    &:hover,
    &:focus {
      color: $secondary;
      background-color: $green;

      .svg-icon {
        background-color: $secondary;
      }
    }
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid $green;
    background-color: $component-background;
    color: $green;
    width: calc(100% - 2px);
    border-radius: 5px;
    z-index: 1000;
    transition: all 0.3s;

    &__element {
      padding: 0.7rem 1.5rem;
      cursor: pointer;
      border-bottom: 0.3px solid $green;

      &:last-child {
        border-bottom: none;
      }

      &:hover,
      &:focus {
        color: $secondary;
        background-color: $green;
      }
    }
  }
}