@import '@/variables';

.new-channel-popup-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
  padding-bottom: 1rem;
  border-bottom-width: 1px;
  border-bottom-color: $component-border-color;
  border-bottom-style: solid;

  &__icon {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0.5rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
