@import '@/variables';

.stat-item {
  background-color: $component-secondary-background;
  padding: 15px 15px 15px 20px;
  border-radius: 8px;
  text-align: left;
  color: $font-color;
  width: 180px;
  height: 75px;
  border-width: 1px;
  border-style: solid;
  border-color: $component-border-color;
  flex-grow: 1;
}

.stat-title {
  font-size: 15px;
  font-weight: bold;
  color: $font-color;
}

.stat-value {
  display: flex;
  align-items: baseline;
}

.value {
  font-size: 36px;
  font-weight: bold;
}

.unit {
  font-size: 14px;
  margin-left: 5px;
}
