@import '@/variables';

.link-container {
  display: flex;
  align-items: center;
  position: relative;

  &__state-badge {
    display: none;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {
    .link-container__state-badge {
      position: absolute;
      display: block;
      right: 0;
      transform: translateX(90%) translateY(60%);
    }
  }
}

.link-component {
  color: $green;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.1s;

  &:hover {
    filter: brightness(1.1);
  }

  &__down {
    color: $application-down-color;
  }
}
