@import '@/variables';

.link-container {
  display: flex;
  align-items: center;
}

.link-component {
  color: $green;
  cursor: default;

  &.down {
    color: $application-down-color;
  }
}

.link-container .link-component + .state-badge {
  margin-left: 7px;
}
