@import '@/variables';

.default-button-size {
  border-radius: 5px;
  font-size: 0.6rem;
  background-color: transparent;
}

.action-button {
  &--green {
    border-color: $green;
    color: $green;
    @extend .default-button-size;

    &:hover {
      color: $secondary;
      background-color: $green;
    }
  }

  &--red {
    border-color: $red;
    color: $red;
    @extend .default-button-size;

    &:hover {
      color: $secondary;
      background-color: $red;
    }
  }

  &--olive {
    border-color: $olive;
    color: $olive;
    @extend .default-button-size;

    &:hover {
      color: $secondary;
      background-color: $olive;
    }
  }
}
