@import '@/variables';

.navbar-tab {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 1rem;

  .navbar-tab__link-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    transition: all 0.2s;
  }

  &__link {
    font-size: 1rem;
    font-weight: 300;
    color: $navbar-text-color;
  }


  &:hover {
    background-color: $secondary;

    .navbar-tab__link-wrapper {
      margin-left: 5px;
    }

    .navbar-tab__link {
      color: $navbar-selected-color;
      font-weight: 400;
    }

    .svg-icon {
      background-color: $navbar-selected-color;
    }
  }
}
