@import "@/variables.scss";

.login-banner {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $tertiary;

  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: $secondary;
  box-shadow: 0px 5px 5px $secondary;
  cursor: pointer;
  transition: all 0.2s;

  @media (max-width: $xl) {
    display: none;
  }

  &:hover {
    transform: scale(1.05);
    background-color: $quaternary;
  }

  &__logo {
    width: 600px;
    border-radius: 50%;
    margin-top: -10rem;
  }

  &__title {
    font-size: 4rem;
    font-weight: 500;
    margin-top: -5rem;
    margin-bottom: 0;
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
  }
}
