<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body style="margin: 0; padding: 0; font-family: 'Roboto', sans-serif;">
<table style="width: 100%; background-color: #122131; text-align: center; min-height: 50px; color: white; font-size: 12px; border-spacing: 0 50px; border-collapse: collapse;">
    <tr style="vertical-align: middle;">
        <td style="width: 86%; text-align: left; padding: 10px;">
            <span style="display: inline-block;">
                Magpie Monitor - complex anomaly detection system
            </span>
        </td>
        <td style="width: 7%; height: 100%; padding: 0 10px 0 0;">
            <a href="https://github.com/Magpie-Monitor/magpie-monitor" style="display: inline-block; text-decoration: none;">
                <img src="cid:github-logo-icon" alt="GitHub Logo" style="height: 35px; width: auto; vertical-align: middle; margin: 0 auto;">
            </a>
        </td>
    </tr>
    <tr style="opacity: 0; font-size: 1px;">
        <td>%random_text%</td>
    </tr>
</table>
</body>
</html>
