<html>
<head>
  <meta name="viewport" content="width=device-width">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
<table style="width: 100%;max-width: 1000px;min-width: 450px; background-color: transparent; font-family: 'Roboto', sans-serif; color: white;">
  <tr>
    <td style="text-align: center;">
      <a href="%url%" style="text-decoration: none;">
        <input
                type="submit"
                value="%text%"
                style="
                      background-color: transparent;
                      border: 2px solid #5cd060;
                      border-radius: 5px;
                      color: #5cd060;
                      padding: 0.3rem 1.5rem;
                      font-size: 0.9rem;
                      text-align: center;
                      cursor: pointer;
                      transition: all 0.5s;
                  ">
      </a>
    </td>
  </tr>
</table>
</body>
</html>
