<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        .page {
            font-family: 'Roboto', sans-serif;
        }
        .content-section {
            width: 100%;
            background-color: #07111b;
            min-height: 200px;
        }
        .content-section__outer-cell {
            display: block;
            padding: 1em;
        }
        .content-section__inner-table {
            border: 0;
            width: 100%;
        }
        .content-section__inner-cell {
            color: white;
        }
    </style>
</head>
<body class="page">
<table class="content-section">
    <tr>
        <td class="content-section__outer-cell">
            <table class="content-section__inner-table">
                <tr>
                    <td class="content-section__inner-cell">
                        %content%
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
