<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <style>
        .page {
            font-family: 'Roboto', sans-serif;
            color: white;
        }
        .content-table {
            width: 100%;
            background-color: transparent;
        }
        .content-table__cell {
            padding: 0;
            margin: 0;
            min-height: 0;
            color: white;
        }
    </style>
</head>
<body class="page">
<table class="content-table">
    <tr>
        <td class="content-table__cell">
            %text%
        </td>
    </tr>
</table>
</body>
</html>
